<div class="row">
    
        <h1>My Profile</h1><br><hr>
       
            <div class="col profile">
                <img src="./assets/avatar.jpg" alt="avatar" id="pimage" width="150px" height="150px">
               </div>
        
        <div class="col card ">
        Name:{{ username}};<br>
        Email:{{email}};<br>
        Phone Number:{{phone}};<br>
        Gender:{{gender}};<br>
        Date of Birth:{{dob}};<br>
        Type:{{type}};<br>
        Marital Status:{{maritalStatus}};<br>
        Hometown:{{hometown}};<br>
        Experience:{{experience}};<br>
        Interests:{{interests}};<br>
        Nationality:{{nationality}};<br>
        Languages:{{languages}};<br>
        Current Location:{{currentLocation}};<br>
        Last Job Experience:{{lastjobexp}};<br>
        Last Job Designation:{{lastjobDesig}};<br>
        Reasons For Leaving:{{reasonsforleaving}};<br>
      
        
    </div>
</div>



