<h2>Applied Candidates</h2>

<table class="table table-dark">
    <thead>
        <tr>
            <th>S.No</th>
            <th>Email</th>
            <th>Job Title</th>
            <th>Phone No</th>
            <th>Experience</th>
            <th>Want to?</th>
        </tr>
    </thead>
    <tbody class="table table-light">
        <tr *ngFor="let user of appliedData;let i=index">
            <td>{{i+1}}</td>
            <td (click)="onclick()">{{user.email}}</td>
            <td>{{user.jobtitle}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.experience}}</td>
            
        </tr>
    </tbody>
</table>

<div *ngIf="showHide">
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Candidate Name</th>
                <th>Phone No</th>
                <th>Qualification</th>
                <th>Experience</th>

            </tr>
        </thead>
        <tbody class="table table-light">
            <tr *ngFor="let user of userData">
                <td>{{user.name}}</td>
                <td>{{user.phone}}</td>
                <td>{{user.department}}</td>
                <td>{{user.experience}}</td>
            </tr>
        </tbody>
    </table>
</div>
