<app-header></app-header>

<div class="row1" >
    <div class="jumbotron" >
        <div class="mb-5 text-center">
            <h1 class="text-white font-weight-bold">The Easiest Way To Get Your Dream Job</h1>
            <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate est, consequuntur perferendis.</p>
          </div>
        <div class="search">
            <input type="text" placeholder="Job search here" class="icon-search icon mr-2">
            <button type="submit" class="btn btn-success btn-lg btn-block text-white btn-search"><span class="icon-search icon mr-2"></span>Search Job</button>
        </div>
</div>
</div>  


  

